@import "mixins";
@import "functions";

$outerCircleRadius: 30vh;

.gold-point {
	font-family: "Arial", sans-serif;
	position: fixed;
	left: 38.195%;
	top: 38.195%;
}

.gold-point:hover {
	right: 38.195%;
	bottom: 38.195%;
}

.gold-point:after {
	display: block;
	content: "";
	position: absolute;
	top: -20vh;
	left: -20vh;
	z-index: 0;
	right: -($outerCircleRadius/2);
	bottom: -($outerCircleRadius/2);
}

.gold-point:hover .master__circle {
	@include GBoxShadow(1);
	background-color: #9e9e9e;
	animation: none;

	img {
		transform: scale(1);
	}
}

.gold-point {
	$foldedRadius: 7vh;

	.slave__circle--1 {
		$angle: -25;
		transform: getTransformCoordinates($angle, $foldedRadius);
	}

	.slave__circle--2 {
		$angle: 10;
		transform: getTransformCoordinates($angle, $foldedRadius);
	}

	.slave__circle--3 {
		$angle: 45;
		transform: getTransformCoordinates($angle, $foldedRadius);
	}

	.slave__circle--4 {
		$angle: 80;
		transform: getTransformCoordinates($angle, $foldedRadius);
	}

	.slave__circle--5 {
		$angle: 115;
		transform: getTransformCoordinates($angle, $foldedRadius);
	}
}

.gold-point:hover {
	.slave__circle--1 {
		$angle: -25;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}

	.slave__circle--2 {
		$angle: 10;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}

	.slave__circle--3 {
		$angle: 45;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}

	.slave__circle--4 {
		$angle: 80;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}

	.slave__circle--5 {
		$angle: 115;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}
}
