<div class="gold-point">
	<div class="master">
		<div class="master__circle">
			<div class="master__name">Martynas Bardauskas</div>
			<img src="images/landing/profile.jpg" alt="Martynas Bardauskas"/>
		</div>
	</div>
	<div class="slave">
		<div class="slave__circle slave__circle--1">
			<a href="https://twitter.com/mbardauskas" target="_blank">
				<img src="images/landing/twitter.svg" alt=""/>
			</a>
		</div>
	</div>
	<div class="slave">
		<div class="slave__circle slave__circle--2">
			<a href="https://medium.com/@mbardauskas/" target="_blank">
				<img src="images/landing/medium.svg" alt=""/>
			</a>
		</div>
	</div>
	<div class="slave">
		<div class="slave__circle slave__circle--3">
			<a href="https://lt.linkedin.com/in/mbardauskas" target="_blank">
				<img src="images/landing/linkedin.svg" alt=""/>
			</a>
		</div>
	</div>
	<div class="slave">
		<div class="slave__circle slave__circle--4">
			<a href="https://github.com/mbardauskas" target="_blank">
				<img src="images/landing/github.svg" alt=""/>
			</a>
		</div>
	</div>
	<div class="slave">
		<div class="slave__circle slave__circle--5">
      <a href="{{ site.baseurl }}/blog/">
				<img src="images/landing/blog.svg" alt=""/>
			</a>
		</div>
	</div>
</div>
